(
  max_notifications: 10,
  timeout: 10000,
  poll_interval: 16,
  shortcuts: (
    notification_interact: 1,
    notification_close: 2,
    notification_closeall: 3,
  ),
  history_length: 100,
  replacing_resets_timeout: true,
  layout_blocks: [
    (
      name: "root",
      parent: "",
      hook: (parent_anchor: TL, self_anchor: TL),
      offset: (x: 14, y: 44),
        params: NotificationBlock((
          monitor: 0,
          border_width: 2.0,
      	  border_rounding: 0.0,
          gap: (x: 0.0, y: 7.0),
          background_color: (hex: "#1E1E2E"),
    	  border_color: (hex: "#CBA6F7"),
  	  border_color_low: (hex: "#89B4FA"),
  	  border_color_critical: (hex: "#F38BA8"),
  	  notification_hook: (parent_anchor: BL, self_anchor: TL),
      )),
    ),
		
    (
      name: "image",
      parent: "root",
      hook: (parent_anchor: ML, self_anchor: ML),
      offset: (x: 0.0, y: 0.0),
      params: ImageBlock((
        image_type: HintThenApp,
        padding: (left: 8.0, right: 8.0, top: 0.0, bottom: 8.0),
        rounding: 0.0,
        scale_width: 32,
        scale_height: 32,
        filter_mode: Lanczos3,
      ))
    ),
    (
      name: "summary",
      parent: "image",
      hook: (parent_anchor: MR, self_anchor: BL),
      offset: (x: 0.0, y: 0.0),
      params: TextBlock((
        text: "%s",
        font: "JetBrainsMono Nerd Font 10",
        color: (hex: "#CDD6F4"),
        padding: (left: 12.0, right: 5.0, top: 8.0, bottom: 8.0),
        dimensions: (
          width: (min: 200, max: 250),
          height: (min: 0, max: 50)
        ),
      )),
    ),
    (
      name: "body",
      parent: "summary",
      hook: (parent_anchor: BL, self_anchor: TL),
      offset: (x: 0.0, y: 0.0),
      render_criteria: [Body],
      params: TextBlock((
        text: "%b",
        font: "JetBrainsMono Nerd Font 9",
        color: (hex: "#A6ADC8"),
        padding: (left: 10.0, right: 15.0, top: 0.0, bottom: 8.0),
        width: (min: 150, max: 300),
	scroll_speed: 0.2,
        ellipsize: Middle, 
        dimensions: 
        (
          width: (min: 50, max: 300), 
          height: (min: 50, max: 400)
        ),
	lhs_dist: 24.0,
        rhs_dist: 24.0,
        scroll_t: 1.0,
      )),
    ),
    (
      name: "progress",
      parent: "summary",
      hook: (parent_anchor: BL, self_anchor: TL),
      offset: (x: 0.0, y: 25.0),
      render_criteria: [Progress],
      params: ProgressBlock((
        padding: (left: 10.0, right: 10.0, top: 0.0, bottom: 8.0),
        border_width: 2.0,
        border_rounding: 5.0,
        fill_rounding: 5.0,
        border_color: (hex: "#6C7086"),
        background_color: (hex: "#1E1E2E"),
        fill_color: (hex: "#89B4FA"),
        width: 200,
        height: 15,
      )),
    ),
    (
      name: "button_0",
      parent: "body",
      hook: (parent_anchor: BL, self_anchor: TL),
      offset: (x: 12.0, y: 0.0),
      render_criteria: [ActionOther(0)],
      params: ButtonBlock((
        padding: (left: 8.0, right: 8.0, top: 5.0, bottom: 5.0),
        action: OtherAction(0),
        text: "%a",
        font: "JetBrainsMono Nerd Font 8",
        border_width: 2.0,
        border_rounding: 0.0,
        text_color: (hex: "#CDD6F4"),
        border_color: (hex: "#6C7086"),
        background_color: (hex: "#1E1E2E"),
        dimensions: (width: (min: 0, max: 150), height: (min: 0, max: 0)),
      )),
    ),

    (
      name: "button_1",
      parent: "button_0",
      hook: (parent_anchor: TR, self_anchor: TL),
      offset: (x: 12.0, y: 0.0),
      render_criteria: [ActionOther(1)],
      params: ButtonBlock((
        padding: (left: 8.0, right: 8.0, top: 5.0, bottom: 5.0),
        action: OtherAction(1),
        text: "%a",
        font: "JetBrainsMono Nerd Font 8",
        border_width: 2.0,
        border_rounding: 0.0,
        text_color: (hex: "#CDD6F4"),
        border_color: (hex: "#6C7086"),
        background_color: (hex: "#1E1E2E"),
        dimensions: (width: (min: 0, max: 150), height: (min: 0, max: 0)),
      )),
    ),

    (
      name: "button_2",
      parent: "button_1",
      hook: (parent_anchor: TR, self_anchor: TL),
      offset: (x: 12.0, y: 0.0),
      render_criteria: [ActionOther(2)],
      params: ButtonBlock((
        padding: (left: 8.0, right: 8.0, top: 5.0, bottom: 5.0),
        action: OtherAction(2),
        text: "%a",
        font: "JetBrainsMono Nerd Font 8",
        border_width: 2.0,
        border_rounding: 0.0,
        text_color: (hex: "#CDD6F4"),
        border_color: (hex: "#6C7086"),
        background_color: (hex: "#1E1E2E"),
        dimensions: (width: (min: 0, max: 150), height: (min: 0, max: 0)),
      )),
    ),

    (
      name: "button_3",
      parent: "button_2",
      hook: (parent_anchor: TR, self_anchor: TL),
      offset: (x: 12.0, y: 0.0),
      render_criteria: [ActionOther(3)],
      params: ButtonBlock((
        padding: (left: 8.0, right: 8.0, top: 5.0, bottom: 5.0),
        action: OtherAction(3),
        text: "%a",
        font: "JetBrainsMono Nerd Font 8",
        border_width: 2.0,
        border_rounding: 0.0,
        text_color: (hex: "#CDD6F4"),
        border_color: (hex: "#6C7086"),
        background_color: (hex: "#1E1E2E"),
        dimensions: (width: (min: 0, max: 150), height: (min: 0, max: 0)),
      )),
    ),
    (
      name: "padding",
      parent: "button_0",
      hook: (parent_anchor: BR, self_anchor: TL),
      offset: (x: 0.0, y: 0.0),
      render_criteria: [ActionOther(0)],
      params: TextBlock((
        text: "",
        font: "JetBrainsMono Nerd Font 8",
        color: (hex: "#ffffff"),
        padding: (left: 0.0, right: 0.0, top: 0.0, bottom: 0.0),
        dimensions: (width: (min: 0, max: 0), height: (min: 0, max: 0)),
      )),
    ),
  ],
)

