/* colors */

* {
  al:    #1E1E2E;
  bg:    #11111B;
  bg1:   #181825;
  bg2:   #45475A;
  bg3:   #313244;
  bg4:   #74C7EC;
  se:    #74C7EC;
  fg:    #CDD6F4;
  ac:    #CDD6F4;
  bga:   #45475A;
}
