/* Confirm Dialog */

@import "colors2.rasi"

* {
    background-color:       @al;
    text-color:             @fg;
	font:				 	"Iosevka Nerd Font 10";
}

window {
    width:      			210px;
    padding:    			25px;
    border:					  2px;
    border-radius:          0px;
    border-color:           @se;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@ac;
}
